.member-flex{
    display: flex;
    margin: 0% 5%;
    @media screen and (max-width: 1000px){
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.margin-right-photo{
    margin-right: 5%;
}
.member-header-text{
    background: $pink-color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    @media screen and (max-width: 1000px){
        margin: 0px;
    }
}
.member-text-grey{
    font-size: 16px;
    color: #B3B3BA;
}
.member-text-link{
    font-weight: 400;
    font-size: 16px;
    color: #24A3FF;
    &:hover{
        color: #24A3FF;
    }
}
.border-grey-member{
    border-bottom: 4px solid #E6E6F0;
    display: flex;
    padding-top: 5px;
    padding-bottom: 15px;
    @media screen and (max-width: 1000px){
        flex-direction: column;
    }
}
.member-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.member-text-bold{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    font-size: 14px;
    font-weight: bold;
}
.member-conteiner{
    width: 45em;
    @media screen and (max-width: 1000px){
        width: 100%;
    }
}
.margin-member-1{
    margin-top: 40px;
}
.margin-member-2{
    margin-top: 25px;
    margin-bottom: 40px;
}
.margin-member-3{
    margin-top: 10px;
    margin-bottom: 35px;
}
.margin-member-side{
    margin: 0px 30px;
    @media screen and (max-width: 1000px){
        margin: 20px 0px;
    }
}
.member-dot{
    position: relative;
    &::before{
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #E6E6F0;
        position: absolute;
        left: -16px;
        bottom: 8px;
        @media screen and (max-width: 1000px){
            display: none;
        }
    }
    &::after{
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #E6E6F0;
        position: absolute;
        left: 128px;
        bottom: 8px;
        @media screen and (max-width: 1000px){
            display: none;
        }
    }
}
.member-img{
    @media screen and (max-width: 500px){
        width: 90%;
    }
}
.member-head{
    background: $pink-color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 42px;
    line-height: 50px;
    padding-top: 160px;
    width: 63%;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 1050px){
    
        margin-left: 10px;
        margin-right: 0px;
        font-size: 32px;
        line-height: 38px;
    }
    @media screen and (max-width: 500px){
        font-size: 24px;
        line-height: 24px;
        width: 95%;
    }
}
.member-name{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #323264;
}
.member-work{
    color: #B3B3BA;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    @media screen and (max-width: 700px){
        margin: 20px 0px;
    }
}
.member-flex-maim-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @media screen and (max-width: 1250px){
        padding: 0px 20px;
        
    }
    @media screen and (max-width: 700px){
        flex-direction: column;
        justify-content: end;
        width: 135px;
        padding: 0px 10px;
        align-items: baseline;
    }

}

.member-block{
    width: fit-content;
    @media screen and (max-width: 700px){
        display: flex;
        width: 100%;
        margin: 20px 0px;
    }
    @media screen and (max-width: 500px){
        margin: 10px 0px;
    }
}
.member-conteiner-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @media screen and (max-width: 700px){
        flex-direction: column;
        margin-top: 0px;
    }
}
.member-conteiner-flex-reversre{
    @media screen and (max-width: 700px){
        flex-direction: column-reverse;
        margin-top: 0px;
    }
    
}
.member-main-img{
    width: 100%;
    @media screen and (max-width: 1250px){
        padding: 0px 10px;
    }
    @media screen and (max-width: 700px){
        width: 300px;
    }
    @media screen and (max-width: 500px){
        width: 250px;
    }
    @media screen and (max-width: 400px){
        width: 150px;
    }
}
.member-disp-none{
    @media screen and (max-width: 700px){
        display: none;
    }
}
